{
  "printWidth": 160,
  "semi": true,
  "singleQuote": true,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["typescript"],
  "importOrderTypeScriptVersion": "5.0.0",
  "importOrderCaseSensitive": false
}
